export(generateNAMfounders)
export(generateNAMpedigree)
export(NAM2cross)
export(plclust_in_colour)
export(spclust)
export(spdist)
S3method(plot,spclust)
S3method(print,spclust)
S3method(summary,spclust)
useDynLib(spclust)
