export(plclust_in_colour)
export(spclust)
export(spclust2)
export(spdist)
S3method(plot,spclust)
S3method(plot,spclust2)
S3method(print,spclust)
S3method(print,spclust2)
S3method(summary,spclust)
S3method(summary,spclust2)
useDynLib(spclust)
